/* Reset some basic styles */
body, h1, h2, p, ul, li, a, button {
    
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styling */
header {

    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {

    margin-bottom: 0.5rem;
    text-align: center;
}

header nav ul {

    display: flex;
    justify-content: center;
    padding: 0;
}

header nav ul li {

    margin: 0 1rem;
}

header nav ul li a {

    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {

    color: #f4f4f4;
}

nav ul {

    list-style-type: none;
    padding: 0;
}

nav ul li {

    display: inline;
    margin-right: 10px;
}

nav ul li a {

    color: white;
    text-decoration: none;
}

.gallery {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.sketch {

    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.sketch img {

    max-width: 100%;
    height: auto;
    display: block;
}

/* Main content styling */
main {

    padding: 2rem;
}

main section {

    margin-bottom: 2rem;
}

main section h2 {

    margin-bottom: 1rem;
    color: #333;
}

main section p {

    color: #555;
}

/* Team member styling */
.team-container {

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.team-member {

    text-align: center;
}

.team-member img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Button styling */
.button-container {

    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 20px;
}

button {

    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {

    background-color: #555;
}

/* Footer styling */
footer {

    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* FlexBox Code */
.container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.chart-container {

    flex: 1;
}

/* Map styling */
#map {
    padding: 20px;
    border: 2px solid #000;
    margin: 20px auto;
    width: fit-content;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#location_info {
    margin: 20px;
    text-align: center;
}

.zoom-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.zoom-buttons button {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.zoom-buttons button:hover {
    background-color: #555;
}